<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Team Information</title>
</head>
<body>
    <h2>Team Information Form</h2>
    <form action="/create_new" method="POST">
        <label for="teamName">Team Name:</label><br>
        <input type="text" id="teamName" name="teamName" required><br><br>
        <label for="leaderID">Leader ID:</label><br>
        <input type="text" id="leaderID" name="leaderID" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
